.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .user {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
 
  }

  div {
   text-align: center;
  }