.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .movie {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

  .search {
      text-align: center;
      padding: 1rem;
  }
  .search__box{
      text-align: center;
      padding-bottom: 1.5rem;
  }
  
